* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  background-color: #cc2228;
  height: 100px;
  font-size: 12px;
}
#ftLeft {
  width: 45%;
  line-height: 128px;
}
#ftLeft .copyright {
  float: left;
  text-align: center;
  margin-left: 5%;
  color: white;
}

footer .ftInner > ul > li {
  float: left;
  margin-left: 3%;
}
footer .ftInner > ul > li > a {
  text-decoration: none;
  color: white;
}
.ftImg {
  width: 10%;
  margin: auto;
}
.ftImg .logo > img {
  width: 100%;
  height: 50px;
}

footer #address {
  width: 45%;
  line-height: 128px;
  text-align: center;
}
footer #address p {
  display: inline-block;
  padding-left: 20px;
  color: white;
}

@media (max-width: 767px) {
  /* 모바일 */
  footer {
    width: 100%;
    height: 200px;
  }
  .footer {
    display: block;
    background-color: #cc2228;
    height: 180px;
    font-size: 8px;
  }
  #ftLeft {
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-left: 5%;
  }
  #ftLeft .copyright #copyInner {
    height: 30px;
  }
  #ftLeft .copyright p {
    text-align: center;
    color: white;
  }
  footer .ftInner {
    padding-top: 2%;
  }

  footer .ftInner > ul > li {
    height: 20px;
    margin-left: 10%;
  }
  footer .ftInner > ul > li > a {
    text-decoration: none;
    color: white;
  }
  .ftImg {
    width: 40%;
    padding-top: 15%;
  }
  .ftImg .logo > img {
    width: 100%;
    height: 40px;
  }

  footer #address {
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
  }
  footer #address p {
    color: white;
    line-height: 70px;
    height: 20px;
    padding-bottom: -100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* 테블릿 세로 */
  body {
    width: 100%;
  }
  footer {
    width: 100%;
    height: 200px;
    bottom: 0;
  }
  .footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: block;
    background-color: #cc2228;
    height: 250px;
    font-size: 15px;
  }
  #ftLeft {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-left: 5%;
  }
  #ftLeft .copyright {
    text-align: center;
    color: white;
    height: 10px;
    width: 80%;
  }
  footer .ftInner {
    text-align: center;
    padding-top: 4%;
  }

  footer .ftInner > ul > li {
    height: 20px;
    margin-left: 15%;
  }
  footer .ftInner > ul > li > a {
    text-decoration: none;
    color: white;
  }
  .ftImg {
    width: 40%;
    padding-top: 8%;
  }
  .ftImg .logo > img {
    width: 100%;
    height: 60px;
  }

  footer #address {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
  }
  footer #address p {
    color: white;
    line-height: 70px;
    height: 20px;
  }
}
